<div class="toolbar">
    <div class="toolbar-left">
      <input type="text" placeholder="Search..." class="toolbar-search" />
      <select class="toolbar-filter">
        <option value="all">All</option>
        <option value="favorites">Favorites</option>
        <option value="recent">Recent</option>
      </select>
    </div>
    <div class="toolbar-right">
      <button class="toolbar-button create-button">Create</button>
      <button class="toolbar-button import-button">Import</button>
    </div>
  </div>
  
